body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 5vh 0;
}

p {
  margin: 10px 0;
  color: rgb(0, 255, 0);
}

button {
  height: 38px;
  width:  72px;
  font-size: 0.55em;
  background: black;
  color: rgb(0, 255, 0);
  border-radius: 5px;
  border: solid 2px white;
}

button:hover {
  background: rgba(0, 0, 0, 0.685);
}

button:active {
  background: rgba(0, 0, 0, 0.342);
}

select {
  color: rgb(0, 255, 0);
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  width: 100%;
}

textarea {
  width: 49.5vw;
  height: 25vh;
  margin: 5px 0;
  border: ridge 4px white;
  border-radius: 5px;
  font-size: 0.66em;
  background-color: black;
  color: rgb(0, 255, 0);
}

textarea:disabled {
  color: rgba(0, 255, 0, 0.5);
}

table {
  border: ridge 4px white;
  border-spacing: 0;
  border-radius: 5px;
  background-color: black;
}

td {
  width: 250px;
  height: 150px;
  border: dotted 1px rgb(0, 255, 0);
  background-color: black;
}

td:hover {
  background-color: rgb(19, 19, 19);
}